.trendBg {
  background-color: rgb(247, 249, 249);
  border-radius: 16px;
  margin-top: 12px;
}
.trend {
  font-weight: bold;
  padding: 12px 0;
}
.trend h3 {
  font-size: 20px;
  margin-bottom: 12px;
  padding: 0 16px;
}
.noTrend {
  padding: 12px 16px;
}

@media (prefers-color-scheme: dark) {
  .trendBg {
    background-color: rgb(15, 20, 25);
  }
  .trend {
    color: rgb(255, 255, 255);
  }
}
